{{extend 'layout.html'}}

{{
def btn_class(activity_id):
	result = "btn"
	if activity_id==stop_activity_id:
		result += " btn-danger"
	else:
		result += " btn-primary"
		pass
	if activity_id == current_activity_id:
		result += " disabled"
		pass
	return result
}}
	
<h3 style="padding-bottom:50px">Current activity:
<button class="{{=btn_class(current_activity_id)}}">{{=current_activity}}</button>
{{=SPAN(_id="current_time")}}
</h3>	

{{for a in activities:}}
{{=A(a.name, _href=URL('default','record_time', args=[a.id]), _class=btn_class(a.id))}}
{{pass}}


{{if current_activity_id != stop_activity_id:}}
<script>
function timedigit(val) {
	s = ""
	if (val < 10 ) {
		s = "0"
	}
    return s + val;
}

function render(timedelta) {
    var t = timedelta;
	var h = t / (60*60*1000);
	h = Math.floor(h);
	t -= h*60*60*1000
    var m = t / (60*1000);
	m = Math.floor(m)
	t -= m*60*1000;
	var s = t / 1000;
	s = Math.floor(s)
	return timedigit(h) + ":" + timedigit(m) + ":" + timedigit(s);
}

$( document ).ready(function() {
	var start = new Date();
	setInterval(function() {
		var delta = new Date().getTime()-start.getTime() + {{=time_on_cur_act.total_seconds()*1000}};
		$("#current_time").html(render(delta));
	}, 200)
});
</script>
{{pass}}	
